.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--gris);
	width: 100%;
	min-height: 60px;
	gap: 40%;
	gap: 20%;
}
.header .agregar {
	background-color: var(--purple);
	width: 40px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.header .agregar:hover {
	background-color: var(--purpleHover);
}